//
// This source file is part of the Stanford Biodesign Digital Health LLMonFHIR- Firebase open-source project
//
// SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
//
// SPDX-License-Identifier: MIT
//

rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /reports/{studyId}/{allPaths=**} {
      // Deny everything except creating (uploading) new files.
      allow read, update, delete: if false;
      allow create: if true;
    }
  }
}